body {

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url("https://static.vecteezy.com/system/resources/previews/002/058/254/non_2x/abstract-white-background-free-vector.jpg");
    padding: 0;
    margin: 0;
}



canvas {
    display: flex;
    margin: 0 auto;
}


.slide {

    width: 50%;
    margin: 0 auto;
    

}


.slide img {

    height: 55vh;
    border-radius: 30px;
    border: 2px solid white;
    padding: 2px;

}


.container-fluid {

    display: grid;
    margin: auto;
    width: 95%;
    background-color: rgba(77, 77, 255, 0.274);
    color: rgb(0, 0, 0);
    grid-template-columns: 60%;
    grid-template-areas:

        "header header"
        "nav nav"
        "contenido1 contenido2"
        "contenido3 contenido3"
        "contenido4 contenido5"

        "footer footer";

    gap: 0.1em;

}


header {

    grid-area: header;
    margin: 2% auto 0 20px;
    text-align: center;



}

.cabeza>img {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}



nav {

    grid-area: nav;
    width: 70%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 5px;
    align-items: center;
    background-image: url('merlito.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 120%;
    border: 2px solid rgb(255, 255, 255);


}


.menu ul,
li,
a {

    display: flex;
    justify-content: space-between;
    padding: 1px;
    margin: 0 auto;
    border-radius: 5px;
    align-items: center;

}


a {

    background-color: rgba(77, 77, 255, 0.514);
    padding: 5px;
    border: 2px solid rgb(255, 255, 255);
}



.contenido1 {


    grid-area: contenido1;
    padding: 1%;
    margin-top: 20px;
    background-color: rgba(77, 77, 255, 0.514);
    border-radius: 10px;
    text-align: center;
    border: 2px solid rgb(255, 255, 255);

}



.contenido2 {

    grid-area: contenido2;
    margin-top: 20px;
    background-color: rgba(77, 77, 255, 0.514);
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    padding: 1%;

}




.contenido3 {

    grid-area: contenido3;
    background-color: rgba(77, 77, 255, 0.514);
    padding: 1%;
    border: 2px solid white;
   

}

.contenido4 {

    grid-area: contenido4;
    margin: 0 auto;
    padding: 2%;


}



.contenido5 {

    grid-area: contenido5;
    margin: 0 auto;
    padding: 2%;
    border-radius: 10px;



}




footer {

    grid-area: footer;
    border: 1px solid black;
    margin: 1px auto;
    text-align: center;
}



@media (max-width:600px) {

    .container-fluid {

        display: grid;
        margin: auto;
        width: 95%;
        grid-template-columns: 100%;
        grid-template-areas:

            "header"
            "nav"
            "contenido1"
            "contenido2"
            "contenido3"
            "contenido4"
            "contenido5"
            "contenido6"
            "footer";

        gap: 0.1em;

    }

    .slide {

        width: 100%;
        margin: 0 auto;

    }


    .slide img {

        height: 65vh;
        border-radius: 30px;
        border: 2px solid white;
        padding: 2px;

    }


    .contenido1>iframe {

        width: 100%;
        margin: auto;

    }

    .contenido2>iframe {

        width: 50%;
        margin: auto;

    }

}