body {

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url("https://static.vecteezy.com/system/resources/previews/002/058/254/non_2x/abstract-white-background-free-vector.jpg");
    padding: 0;
    margin: 0;
}





.container-fluid {

    display: grid;
    margin: auto;
    width: 95%;
    background-color: rgb(32, 19, 206);
    color: bisque;
    grid-template-columns: 60%;
    grid-template-areas:

        "header header"
        "nav nav"
        "contenido1 contenido2"
        "contenido3 contenido3"
        "contenido4 contenido4"
        "footer footer";

    gap: 0.1em;

}


header {

    grid-area: header;
    margin: 2% auto 0 20px;
    text-align: center;
    
    

}

.cabeza>img {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}



nav {

    grid-area: nav;
    background-color: aquamarine;
    text-align: center;
    


}



.menu ul,
li,
a {

    display: flex;
    justify-content: space-between;
    margin: 1px auto;
    align-items: center;
    text-decoration: none;


}




.contenido1 {


    grid-area: contenido1;
    padding: 2%;
    text-align: center;
    border: 2px solid white;

}



.contenido2 {

    grid-area: contenido2;
    text-align: center;
    border: 2px solid white;
    padding: 2%;

}




.contenido3 {

    grid-area: contenido3;
    padding: 2%;
    border: 2px solid white;

}

.contenido4 {

    grid-area: contenido4;
    border: 2px solid white;
    padding: 2%;

}


footer {

    grid-area: footer;
    border: 1px solid black;
    margin: 1px auto;
    text-align: center;
}



@media (max-width:600px) {

    .container-fluid {

        display: grid;
        margin: auto;
        width: 95%;
        grid-template-columns: 100%;
        grid-template-areas:

            "header"
            "nav"
            "contenido1"
            "contenido2"
            "contenido3"
            "contenido4"
            "footer";

        gap: 0.1em;

    }


    .contenido1>iframe {

        width: 100%;
        margin: auto;

    }

    .contenido2>iframe {

        width: 50%;
        margin: auto;

    }

}